/* Path: cloc.stwrd.net/style.css */
body {
    background-color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(1rem, 2vw, 2rem);
    line-height: 2;
    color: #d10000;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 0;
    grid-template-areas:
        "date . logo"
        ". clock-container ."
        "weather . settings";
    height: 100vh;
    width: 100vw;
}

#clock-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-area: clock-container;
    font-size: clamp(2rem, 10vw, 8rem);
}

.clock-row {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.clock-label {
    font-size: clamp(1rem, 2vw, 2rem);
    margin-left: 0.5rem;
}

#logo {
    grid-area: logo;
    margin: 1rem 2rem;
}

#date {
    grid-area: date;
    text-align: left;
    padding: 1rem;
    line-height: 1.2;
}

#top-clock,
#bottom-clock {
    display: block;
    text-align: center;
    padding: 0.5rem;
}


#weather {
    grid-area: weather;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: clamp(1rem, 2vw, 2rem);
    align-self: end;
    justify-self: start;
    margin: 1rem;
}

#weather img {
    margin-right: 10px;
    width: clamp(40px, 5vw, 70px);
    height: auto;
}

/* pin the settings image to the bottom right of the screen */
#settings {
    grid-area: settings;
    margin: 1rem 2rem;
    justify-self: end;
    align-self: end;
}

#settings img {
    width: clamp(40px, 5vw, 70px);
    transform: rotate(-90deg);
    transition: transform 0.5s ease;
}

#settings img:hover {
    cursor: pointer;
    transform: rotate(90deg);
    transition: transform 0.5s ease;
}

.hidden {
    display: none;
}

#settings-panel {
    position: fixed;
    bottom: 100px;
    right: 20px;
    background-color: #000;
    border: 1px solid #d10000;
    padding: 1rem;
    color: #d10000;
}

#settings-panel select {
    background-color: #000;
    color: #d10000;
    border: 1px solid #d10000;
}